name: Build and Deploy HeliosTavern App

on:
  push:
    tags:
      - 'v*'  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set version from Git tag
        run: |
          VERSION=${{ github.ref_name }}  
          echo "Current version: $VERSION"        
          echo "VITE_APP_VERSION=$VERSION" >> tavernhelios.client/.env
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Debug GitHub Tag
        run: |
          echo "github.ref_name=${{ github.ref_name }}"
          echo "VERSION=$VERSION"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      # **Сборка и публикация контейнера с бэкендом**
      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/lavliet2/heliostavern-backend:${{ env.VERSION }}
            ghcr.io/lavliet2/heliostavern-backend:latest 

      # **Сборка и публикация контейнера с MenuService**
      - name: Build and push MenuService image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./MenuService/MenuServiceServer/Dockerfile
          push: true
          tags: |
            ghcr.io/lavliet2/menuservice:${{ env.VERSION }}
            ghcr.io/lavliet2/menuservice:latest

      # # **Обновляем версию образа в манифесте перед деплоем**
      # - name: Update image versions in Kubernetes manifests
      #   run: |
      #     sed -i "s|ghcr.io/lavliet2/heliostavern-backend:latest|ghcr.io/lavliet2/heliostavern-backend:$VERSION|g" .k8s/tavernhelios-server-deployment.yaml
      #     sed -i "s|ghcr.io/lavliet2/menuservice:latest|ghcr.io/lavliet2/menuservice:$VERSION|g" .k8s/menuservice-deployment.yaml
      #     cat .k8s/tavernhelios-server-deployment.yaml
      #     cat .k8s/menuservice-deployment.yaml

      # **Деплой после обновления манифеста**
      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }} 

      - name: Deploy to Kubernetes via SSH
        env:
          DEPLOY_VERSION: ${{ env.VERSION }}  
        run: |
          ssh -o StrictHostKeyChecking=no -p 2222 lavliet@178.72.83.217 << 'EOF'          
          set -e  # Остановить выполнение при ошибке

          echo "Версия докумеента 1.0.7.5"
          
          # Очистка переменной VERSION
          TAG="\${DEPLOY_VERSION}"
          echo "TAG=: \$TAG"
          echo $TAG
          # Если TAG пустой, используем main
          if [[ -z \"$TAG" ]]; then
            echo "Переменная TAG пустая, деплоим main"
            TAG="main"
          fi
      
          echo "Deploying version: $TAG"
      
          # Удаляем старую версию
          rm -rf /home/lavliet/heliostavern-app
      
          # Проверяем, является ли TAG тегом или веткой
          if git ls-remote --tags https://github.com/Lavliet2/TavernHelios.git | grep -q "refs/tags/$TAG"; then
            echo " Найден тег: \$TAG, клонируем main и переключаемся на тег..."
            git clone --depth 1 https://github.com/Lavliet2/TavernHelios.git /home/lavliet/heliostavern-app
            cd /home/lavliet/heliostavern-app || exit 1
            git checkout tags/"\$TAG" -b "\$TAG"
          elif git ls-remote --heads https://github.com/Lavliet2/TavernHelios.git | grep -q "refs/heads/$TAG"; then
            echo " Найдена ветка: \$TAG, клонируем её..."
            git clone --branch "\$TAG" --depth 1 https://github.com/Lavliet2/TavernHelios.git /home/lavliet/heliostavern-app
          else
            echo " Ошибка: Ветка или тег \$TAG не найдены, деплоим main!"
            git clone --branch "main" --depth 1 https://github.com/Lavliet2/TavernHelios.git /home/lavliet/heliostavern-app
          fi
      
          cd /home/lavliet/heliostavern-app || exit 1
      
          # Деплой в Kubernetes
          kubectl apply -f .k8s/tavernhelios-ingress.yaml || exit 1
          kubectl apply -f .k8s/mongo-deployment.yaml || exit 1
          kubectl apply -f .k8s/menuservice-deployment.yaml || exit 1
          kubectl apply -f .k8s/tavernhelios-server-deployment.yaml || exit 1
      
          # Принудительный рестарт подов
          echo " Перезапускаем поды..."
          kubectl rollout restart deployment tavernhelios-server || exit 1
          kubectl rollout restart deployment menuservice || exit 1
      
          echo "Деплой успешно завершён!"
          EOF
        
